*{
    box-sizing: border-box;
}

.slider-section .carousel-control-prev ,
.slider-section .carousel-control-next{
 display: none;
}
 body{
    background-color: whitesmoke;
    max-width: 100%;
    overflow-x: hidden;
 }
.bor-btm:hover{
    border-bottom: 1px solid gray;
    color: brown;
}
.mega-heding{
    margin-left: 2rem;
  }
  .f-15{
    font-size: 15px;
  }
  .bor-bt{
    border-bottom: 1px solid gray;
  }
/* mega menu */
@media all and (min-width: 992px) {
	.dropdown-menu {
		width: 13rem;
	}
	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}
	.ktm-mega-menu {
		position: static;
   
	}
	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
    border: none;
    transition: 2000ms;
	}
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}
	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}
/* mega menu */
.search-box{
    position: absolute;
    background-color: white;
    z-index: 1;
    bottom:-150px;
    left:80px;
    height: 65%;
}
@media (max-width:768px) { 
    .search-box{
        display: none;
    }
}
/* pill clear */
.nav-pills {
    --bs-nav-pills-border-radius: none;
    --bs-nav-pills-link-active-color:white;
    --bs-nav-pills-link-active-bg: white;
  }
  .nav-pills .nav-link {
    background: none;
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: none;
  }
  .nav-pills .nav-link:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    border: none;
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
    border-radius: 0;
  }
  .container{
    width: 95%;
  }

  /* search box pill */
  .navpills1 {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color:white;
    --bs-nav-pills-link-active-bg: black;
  }
  .navpills1 .navlink1 {
    background: none;
    color: black;
    border: 2px solid gray;
    height: 40px;
    width: 120px;
    border-radius: var(--bs-nav-pills-border-radius);
  }
  .navpills1 .navlink1:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent;
  }
  .navpills1 .navlink1.active,
  .navpills1 .show > .navlink1 {
    border: 2px solid gray;
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
    border-radius: var(--bs-nav-pills-border-radius);
  }
  .container{
    max-width: 90%;
  }
  /* category pill */
  .navpills {
    --bs-nav-pills-border-radius: none;
    --bs-nav-pills-link-active-color:white;
    --bs-nav-pills-link-active-bg: black;
  }
  .navpills .navlink {
    background: none;
    color: black;
    height: 40px;
    width: auto;
  }
  .navpills .navlink:disabled {
    color: var(--bs-nav-link-disabled-color);
    background-color: transparent;
    border-color: transparent;
  }
  .navpills .navlink.active,
  .navpills .show > .navlink {
    border-bottom: 1px solid red;
    color: red;
    background-color: white;
    border-radius: none;
  }
  .mega-heding{
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .red-button{
    background-color: black;
    color: white;
  }
  .red-button:hover{
    background-color: red;
    color: white;
    transition: .5s;
    border: none;
  }
  .white-button{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .white-button:hover{
    background-color: red;
    color: white;
    transition: .5s;
    border: none;
  }
  .text-red:hover{
    color: red;
  }
  .over-hidden{
    overflow: hidden;
  }
  .last-footer{
    display: flex;
    justify-content: space-between;
  }
  @media (max-width:768px) { 
    .last-footer{
        display: block;
        text-align: center;
    }
}
.vdo{
  border-radius: 20px;
}
.headline{
  position: relative;
  z-index: 999;
  bottom: 50px;
  left: 10px;
  color: black;
  font-size: 20px;
  font-weight: 100px;
}
.play-button{
  position: relative;
  bottom: 220px;
  left: 100px;
  height: 30px;
  width: 40px;
  border-radius: 40% 40%;
  background-color: aliceblue;
}
.vedio:hover{
 cursor: pointer;
}
/* ///language change// */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.radio-form {
  border-radius: 10px;
  padding: 10px;
  margin-left: 90px;
}
.radio-block {
  position: relative;
  display: flex;
  min-width: 120px;
  width: 100px;
  height: 40px;
  border:1px dashed black;
  border-radius: 20px;
  background-color: #F7F5F3;
  margin-top: 15px;
}

.selected {
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  border-radius: 20px;
  transition: transform 0.2s;
  background-color: brown;
}

.radio-lebel{
  position: relative;
  z-index: 100;
  width: 50%;
  padding: 10px !important;
  transition: color 0.2s;
  text-align: center;
  cursor: pointer;
}

.rdo:checked + .radio-lebel {
  color: #FFF;
}

.rdo:checked + .off-label + .selected {
  transform: translateX(100%);
}

/* ------ general style ------ */
:root {
  --blue: #104fa8;
}

.sr-only, input[type=radio] {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
}
.log-btn{
  background-color: brown;
  color: white;
  border: 1 px solid black;
}
.-sing-btn{
  background-color: white;
  color: black;
  border: 1 px solid black;
}
.sing-btn:hover{
  background-color: brown;
  color: white;
  border: 1 px solid black;
}